*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#app {
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #333;
}
#app img {
  object-fit: cover;
}
img {
  display: block;
}
button {
  border: none;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}
.container .carousel {
  max-width: 940px;
  margin: 0 auto;
}
.carousel {
  overflow-x: hidden;
}
.mt-5 {
  margin-top: calc(0.25rem * 5);
}
.carousel__text {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
  color: #fff;
}
.carousel__pagination {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  text-align: center;
}
.carousel__pagination button {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 5px;
  border: none;
  background-color: #444;
  opacity: 0.8;
  cursor: pointer;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
}
.carousel__pagination button.active {
  background-color: #fff;
}
@media screen and (min-width: 380px) {
  .container {
    padding: 0;
  }
}
